body {
    background-color: #E7F2F8;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

img {
    border-radius: 100%;
    border: 6px solid #333;
    transition: transform 250ms;
}

imag:hover {
    transform: translateY(-5px);
}

.familyMember {
    list-style-type: none;
    margin: 10px 0;
    background-color: #EFE7BC;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid salmon;
}

/*.subscribe {

}*/

label,
input {
    margin-block: 69;
}

/*label {

}*/

.fancy {
    margin-bottom: 0px;
    font-family: sans-serif;
}

.header {
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    border: 3px dashed #FFA384;
    background-color: #74BDCB;
    padding: 20px;
    border-radius: 50px;
}

.centered {
    margin-bottom: 0px;
    text-align: center;
}
